# Backend
DEBUG=False
SECRET_KEY=your-secret-key
DATABASE_URL=postgres://postgres:postgres@db:5432/textile_erp
REDIS_URL=redis://redis:6379/0

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000/api
